::-webkit-scrollbar {
    width: 50px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2b6cb0;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b6cb0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #2b6cb0 #000000;
}